@import "./colours.scss";
.App {
  text-align: center;
  color: $black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    .MuiFormControl-root {
      margin: 10px 0;
    }
  }
}
